@model Manitouage1.Models.AlertDto

<div>
    <h4>Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.jobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.jobNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.alertId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
