@model Manitouage1.Models.ViewModels.UpdateInvoice

@{
    var statusCreated = Manitouage1.Models.Invoice.Status.Created;
    var statusPaid = Manitouage1.Models.Invoice.Status.Paid;
    var invoice = Model.invoiceDto;
    var products = Model.productDtos;
    var users = Model.applicationUsers;
}

@using( Html.BeginForm() ) {
    @Html.AntiForgeryToken()

<div class="form-horizontal">
  <h4>Invoice</h4>
  <hr />
  @Html.ValidationSummary( true, "", new {
    @class = "text-danger"
  } )
  @Html.HiddenFor( model => invoice.invoiceId )

  <div class="form-group">
    @Html.LabelFor( model => invoice.created, htmlAttributes: new {
      @class = "control-label col-md-2"
    } )
    <div class="col-md-10">
      @Html.EditorFor( model => invoice.created, new {
         htmlAttributes = new {
           @class = "form-control"
         }
       } )
      @Html.ValidationMessageFor( model => invoice.created, "", new {
         @class = "text-danger"
       } )
    </div>
  </div>

  @if( invoice.status != statusCreated ) {
    <div class="form-group">
      @Html.LabelFor( model => invoice.issued, htmlAttributes: new {
   @class = "control-label col-md-2"
 } )
      <div class="col-md-10">
        @Html.EditorFor( model => invoice.issued, new {
     htmlAttributes = new {
       @class = "form-control"
     }
   } )
        @Html.ValidationMessageFor( model => invoice.issued, "", new {
     @class = "text-danger"
   } )
      </div>
    </div>
    if( invoice.status == statusPaid ) {
      <div class="form-group">
        @Html.LabelFor( model => invoice.paid, htmlAttributes: new {
     @class = "control-label col-md-2"
   } )
        <div class="col-md-10">
          @Html.EditorFor( model => invoice.paid, new {
       htmlAttributes = new {
         @class = "form-control"
       }
     } )
          @Html.ValidationMessageFor( model => invoice.paid, "", new {
       @class = "text-danger"
     } )
        </div>
      </div>
    }
  } else {
    <div class="form-group">
      @Html.LabelFor( model => invoice.status, htmlAttributes: new {
          @class = "control-label col-md-2"
        } )
      <div class="col-md-10">
        @Html.EnumDropDownListFor( model => invoice.status, htmlAttributes: new {
           @class = "form-control"
         } )
        @Html.ValidationMessageFor( model => invoice.status, "", new {
           @class = "text-danger"
         } )
      </div>
    </div>
  }

  <div class="form-group">
    @Html.LabelFor( model => invoice.userId, "Client", htmlAttributes: new {
        @class = "control-label col-md-2"
      } )
    <div class="col-md-10">
      @{
          var usersListItems = new List<SelectListItem>();
          foreach( var user in users ) {
            var selected = false;
            if( invoice.userId == user.Id ) {
              selected = true;
            }
            usersListItems.Add( new SelectListItem { Text = user.Email, Value = user.Id, Selected = selected } );
          }
      }
      @Html.DropDownListFor( model => invoice.userId, usersListItems, htmlAttributes: new {
         @class = "form-control"
       } )
      @Html.ValidationMessageFor( model => invoice.userId, "", new {
         @class = "text-danger"
       } )
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Save" class="btn btn-default" />
    </div>
  </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
