@model Manitouage1.Models.ViewModels.ShowDepartment

@{
    ViewBag.Title = "Details";
}

<div class="col-12 pl-5 pr-5">
    <div>
        @Html.ActionLink("Back to List", "List")
    </div>

    <h2 class="mt-3 mb-5">Department Details</h2>

    <div class="row">
        <div class="col-md-12 my-3">
            <div class="row">
                <div class="col-md-3 font-weight-bold">

                    @Html.DisplayNameFor(model => model.department.departmentId)
                </div>

                <div class="col-md-9">
                    @Html.DisplayFor(model => model.department.departmentId)
                </div>
            </div>
        </div>
        <div class="col-md-12 my-3">
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.department.departmentName)
                </div>

                <div class="col-md-9">
                    @Html.DisplayFor(model => model.department.departmentName)
                </div>
            </div>
        </div>

        <div class="col-md-12 my-3">
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.department.email)
                </div>

                <div class="col-md-9">
                    @Html.DisplayFor(model => model.department.email)
                </div>
            </div>
        </div>
        <div class="col-md-12 my-3">
            <div class="row">
                <div class="col-md-3 font-weight-bold">

                    @Html.DisplayNameFor(model => model.department.phone)
                </div>

                <div class="col-md-9">
                    @Html.DisplayFor(model => model.department.phone)
                </div>
            </div>
        </div>
        <div class="col-md-12 my-3">
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.department.fax)
                </div>

                <div class="col-md-9">
                    @Html.DisplayFor(model => model.department.fax)
                </div>
            </div>
        </div>
        <div class="col-md-12 my-3">
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.department.extension)
                </div>

                <div class="col-md-9">
                    @Html.DisplayFor(model => model.department.extension)
                </div>
            </div>
        </div>
        <div class="col-md-12 my-3">
            <div class="row">
                <div class="col-md-3 font-weight-bold">

                    @Html.DisplayNameFor(model => model.department.category)
                </div>

                <div class="col-md-9">
                    @Html.DisplayFor(model => model.department.category)
                </div>
            </div>
        </div>
        <div class="btn btn-info my-2 my-sm-3 a-white">
            @Html.ActionLink("Edit", "Edit", new { id = Model.department.departmentId })

        </div>
</div>
