@model Manitouage1.Models.ViewModels.UpdateDepartment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Department", new { id = Model.department.departmentId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Department</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.department.departmentId, new { Name = "departmentId" })

        <div class="form-group">
            @Html.LabelFor(model => model.department.departmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.department.departmentName, new { htmlAttributes = new { @class = "form-control", Name = "departmentName" } })
                @Html.ValidationMessageFor(model => model.department.departmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.department.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.department.email, new { htmlAttributes = new { @class = "form-control", Name = "email" } })
                @Html.ValidationMessageFor(model => model.department.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.department.phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.department.phone, new { htmlAttributes = new { @class = "form-control", Name = "phone" } })
                @Html.ValidationMessageFor(model => model.department.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.department.fax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.department.fax, new { htmlAttributes = new { @class = "form-control", Name = "fax" } })
                @Html.ValidationMessageFor(model => model.department.fax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.department.extension, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.department.extension, new { htmlAttributes = new { @class = "form-control", Name = "extension" } })
                @Html.ValidationMessageFor(model => model.department.extension, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.department.category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.department.category, new { htmlAttributes = new { @class = "form-control", Name = "category" } })
                @Html.ValidationMessageFor(model => model.department.category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
