<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Manitouadge Hospital</title>
  @Styles.Render( "~/Content/css" )
  @Scripts.Render( "~/bundles/modernizr" )
  <script src="/Scripts/js/main.js"></script>

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-navy">
    <div>
      <div class="d-inline">
        <img src="~/Content/img/Manitouwadge General Hospital_0.png" height="50" />
      </div>
      <h1 class="d-inline ml-2"><a class="navbar-brand my-lg-5" style="font-size: 1.9rem;" href="#">Manitouadge General Hospital</a></h1>
    </div>
    <div class="collapse navbar-collapse d-flex justify-content-end mb-lg-5" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form class="form-inline my-2 my-lg-0 ml-3">
        <button class="btn btn-info btn-outline-light my-sm-0" type="submit">Donate</button>
      </form>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-navy">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          @Html.ActionLink( "Home", "Index", "Home", new {
            @class = "nav-link"
          } )
        </li>
        <li class="nav-item">
          @Html.ActionLink( "Contact", "Contact", "Home", new {
            @class = "nav-link"
          } )
        </li>
        @Html.Partial( "_LoginPartial" )
      </ul>
    </div>
  </nav>

  <div class="container-fluid body-content bg-light-blue">
    @RenderBody()
  </div>
  <footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-navy">



      <form class="form-inline my-2 my-lg-0 ml-3">
        <button class="btn btn-info btn-outline-light my-sm-0" type="submit">Donate</button>
      </form>
    </nav>


    <p class="bg-navy text-light">&copy; @DateTime.Now.Year - Manitouage Hospital</p>
  </footer>

  @Scripts.Render( "~/bundles/jquery" )
  @Scripts.Render( "~/bundles/bootstrap" )
  @RenderSection( "scripts", required: false )
</body>
</html>
