@model IEnumerable<Manitouadge.Models.ProductDto>

<div class="m-4">
  <h2>Products</h2>
</div>

@if( Model.Count() == 0 ) {
  <h3 class="mt-5">There are no products to view.</h3>
} else {

  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor( model => model.productName )
      </th>
      <th>
        @Html.DisplayNameFor( model => model.price )
      </th>
      <th>
        @Html.DisplayNameFor( model => model.taxRate )
      </th>
      <th></th>
    </tr>

    @foreach( var item in Model ) {
      <tr>
        <td>
          @Html.DisplayFor( modelItem => item.productName )
        </td>
        <td>
          @Html.DisplayFor( modelItem => item.price )
        </td>
        <td>
          @Html.DisplayFor( modelItem => item.taxRate )
        </td>
        <td>
          @Html.ActionLink( "Edit", "Edit", new {
       id = item.productId
     } ) |
          @Html.ActionLink( "Details", "Details", new {
       id = item.productId
     } ) |
          @Html.ActionLink( "Delete", "DeleteConfirm", new {
       id = item.productId
     } )
        </td>
      </tr>
    }
  </table>
}
<div class="m-4 text-right">
  <a class="btn btn-info btn-outline-light my-sm-0" href="/Invoices/Create">New Product</a>
</div>
